.CodeMirror-hints {
	position: absolute;
	z-index: 10;
	overflow: hidden;
	list-style: none;

	margin: 0;
	padding: 2px;

	-webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
	border-radius: 0px 5px 5px 5px;
	/* border: 1px solid silver; */

	background: #212529;
	font-size: 90%;
	font-family: monospace;
	color: #ccc;

	max-height: 30em;
	overflow-y: auto;
}

/* inside the ul element */
.CodeMirror-hint {
	margin: 0;
	padding: 0 4px;
	border-radius: 5px;
	white-space: pre;
	color: #ccc;
	cursor: pointer;
}

li.CodeMirror-hint-active {
	background: #3a4147;/*#08f; */
	color: white;
}

.CodeMirror-left-hint-box {
	border-radius: 5px 0px 0px 5px;
}