
:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  height: 100%;
  color: var(--black);
  background: #000;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

/*  We inherit box-sizing: border-box; from our <html> selector
  Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  weight: 100%;
  
}

/* html, body { height: 100%; background: #222222} */

@font-face {
  font-family: 'LatoWebBlack';
  src: url('../../assets/fonts/Lato/fonts/Lato-Black.woff');
}

.main-container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.header {
  grid-row: 1;
  width: 100px;
  height: 50px;
  color: #ccc;
  background: #a4a4a4;
  box-shadow: 0 0 5px rgba(28,33,40,0);
  z-index: 100;
}

.sema-logo-type-header .sema-logo-type {
  font-family: Times;
  font-weight: normal;
  font-size: 36px;
}

.sema-logo-type  {
  font-size: 48px;
}

.sema-logo-header-container {
  display: grid;
  float: left;
  width: 45%;
  height: 55%;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.layout-container{
  grid-row: 2;
  position: relative;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto auto 50px;
  grid-template-areas: 
  "sidebar editor"
  "sidebar editor"
  "footer footer";
}

/* .layout-container {
  display: grid;
  grid-template-areas:
    'main right'
    'main2 main2'
    'footer footer';

  grid-template-rows:

    45%
    45%
    5%;

  grid-template-columns: 
    71%
    auto-fit
    ;

  grid-gap: 2px;
  background-color: #000000;
  padding: 0px;
  font-size: 20px;
  width: 99%;
  height: 99%;
} */



.overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: grid;
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-self: center;
  align-content: center;
  /* Black background with opacity */
  background-color: rgba(0, 0, 0, 0.85);
  /* Specify a stack order in case you're using a different order for other elements */
  z-index: 4;
  /* Add a pointer on hover */
  cursor: auto;
  /* visibility: visible; */
  visibility: hidden;
}



.w3-red,.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}



/* .containerMenu { grid-area: menu; background-color: red;} */
.sidebar-container{
  display: flex;
  grid-area: sidebar;
  grid-row: span 2;
  background-color: rgb(50, 153, 55);
}



.editor-container {
  grid-area: editor;
  align-content: stretch;
  /* background-color: black; */
  background-color: blue;
  justify-self: stretch;
  grid-column: 2 / -1;

  display: inline-block;

}

.live-code-panel {
  display: flex;

  
}

.vertical-gutter{
    content: "";
    display: block;
    height: 8px;
    width: 100%;
    position: absolute;
    top: -3px;
    z-index: 10;
    cursor: ns-resize;
    background-color: red;
}

.gutter {
  position: relative;
} 

.horizontal-gutter{
  cursor: ew-resize;
  height: 100%;
  /* float: left; */
  width: 10px;
  background-color:#272822;;
}

.analysers-panel {
  background-color:#272822;
  grid-area: editor;
  /* grid-column: 3; */
  /* z-index: -2;  */
  width: auto;
  height: auto;
  position:absolute; 
  bottom: 0;
}

#oscilloscope #spectrogram {
  width: 100%;
  height: 100%;
}

.containerMain2 {
  grid-area: editor;

  display: inline-flex;
  background-color: black;
  /* background-color: blue; */
  align-self: auto;
  align-content: stretch;
  justify-self: stretch;
  visibility: hidden; 
  /* grid-column-start: 1/5;
  grid-column-end: 3/5; */
  /* grid-row: 3; */

}

#tabControl {
  display: inline-flex;
  align-self: auto;
  align-content: stretch;
  justify-self: stretch;
}

.containerTabs {
  display: inline-flex;
  align-self: auto;
  align-content: stretch;
  justify-self: stretch;
}

.footer-container {
  grid-area: footer;
  background-color: black;
}

#footer-buttons-container {

}



/* Style the tab */
#tab {
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
#tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 16px;
  transition: 0.3s;
  font-size: 15px;
}

/* Change background color of buttons on hover */
#tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
#tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  /* padding: 6px 12px; */
  border: 1px solid #ccc;
  border-top: none;
}

#buttonStartAudio {
  margin:0 auto;
  display:block;
  width: 350px;
  height: 350px;
  align-self: stretch;
  font-size: 200%;
  font-family:monospace;
  cursor: pointer;
}

.logo-container {
  float: none;
  width: 45%;
  height: 55%;
  margin: 0 auto;
  display: grid;
}

/* resize images */
#semaLogo {
  width: 100%;
  height: auto;
}

/* resize images */
#semaType {
  width: 100%;
  height: auto;
  font-size:150%;
  margin: 0px 0px 0px 0px;
  color: rgb(50, 50, 50);
  /* font-family: 'LatoWebBlack';  */
}

.headerTitle {
  font-family: "LatoWebBlack";
  font-size: 30px;
  text-align: left;
  color: #ccff00;
  /* vertical-align: middle; */
  /* overflow: hidden; */
  float: left;
}

.headerItemList {
  padding: 0;
  margin: 0 0 0 40px;
  width: 500px;

  /* display: inline-block; */
  /* text-align:right; */
  /* vertical-align: middle; */
  overflow: hidden;
  float: left;
}

.headerItem {
  font-family: "LatoWebBlack";
  margin: 0 20px 0 20px;
  float: left;
  color: #da14ff;
}

#sampleRateIndicatorLabel {
  font-family: "LatoWebBlack";
  grid-column-start: 3/5;
  grid-column-end: 5/5;
  color: #da14ff;
  /* text-transform: uppercase; */
  font-size: 20px;
  /* width: 170px; */
  text-align: center;
  top: 0;
  right: 20px;
  overflow: hidden;
  float: left;
}

#sampleRateIndicatorValue {
  font-family: "LatoWebBlack";
  color: #da14ff;
  text-transform: uppercase;
  font-size: 20px;
  /* width: 170px; */
  text-align: center;
  top: 0;
  right: 20px;
  overflow: hidden;
  /* float:left; */
}

#audioWorkletIndicator {
  text-transform: uppercase;
  font-size: 13px;
  width: 170px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 20px;
}

.was-indicator-found {
  color: #39ff14;
  border: 0.1rem solid #39ff14;
  padding: 0.5rem;
}

.was-indicator-missing {
  color: #dd2c00;
  border: 0.1rem solid #dd2c00;
  padding: 0.5rem;
}

#dspLoad {
  font-family: "LatoWebBlack";
  color: #da14ff;
  text-transform: uppercase;
  font-size: 12px;
  /* width: 170px; */
  text-align: center;
  /* top: 0;
  right: 20px; */
  overflow: hidden;
  /* float:left; */
}

.param100 {
  font-size: 100%;
  font-weight: 100;
}

.param110 {
  font-size: 110%;
  font-weight: 100;
}

.param120 {
  font-size: 120%;
  font-weight: 100;
}

.param130 {
  font-size: 130%;
  font-weight: 100;
}

.param140 {
  font-size: 140%;
  font-weight: 100;
}

.param150 {
  font-weight: 100;
  font-size: 150%;
}

.param160 {
  font-size: 160%;
  font-weight: 100;
}

.param170 {
  font-size: 170%;
  font-weight: 100;
}

.param180 {
  font-size: 180%;
  font-weight: 100;
}

.param190 {
  font-size: 190%;
  font-weight: 100;
}

.param200 {
  font-size: 200%;
  font-weight: 100;
}

.param210 {
  font-weight: 100;
  font-size: 210%;
}

.param220 {
  font-weight: 100;
  font-size: 220%;
}

.param230 {
  font-size: 230%;
  font-weight: 100;
}

.param240 {
  font-size: 240%;
  font-weight: 100;
}

.param250 {
  font-size: 250%;
  font-weight: 100;
}

.param260 {
  font-size: 260%;
  font-weight: 100;
}

.param270 {
  font-size: 270%;
  font-weight: 100;
}

.param280 {
  font-size: 280%;
  font-weight: 100;
}

.param290 {
  font-size: 290%;
  font-weight: 100;
}

.param300 {
  font-size: 300%;
  font-weight: 100;
}
