html,
body {
  height: 100%;
  background: #000000
}

/* html, body { height: 100%; background: #222222} */

@font-face {
  font-family: 'LatoWebBlack';
  src: url('../../assets/fonts/Lato/fonts/Lato-Black.woff');
}

/* @font-face {
    font-family: 'LatoWebBlack';
    src: url('./Lato-Black.woff');
} */

/* @import url('./fonts/Lato-Black.woff'); */
/* @import url('../assets/fonts/Lato/fonts/Lato-Black.woff'); */

.param100 {
  font-size: 100%;
  font-weight: 100;
}

.param110 {
  font-size: 110%;
  font-weight: 100;
}

.param120 {
  font-size: 120%;
  font-weight: 100;
}

.param130 {
  font-size: 130%;
  font-weight: 100;
}

.param140 {
  font-size: 140%;
  font-weight: 100;
}

.param150 {
  font-weight: 100;
  font-size: 150%;
}

.param160 {
  font-size: 160%;
  font-weight: 100;
}

.param170 {
  font-size: 170%;
  font-weight: 100;
}

.param180 {
  font-size: 180%;
  font-weight: 100;
}

.param190 {
  font-size: 190%;
  font-weight: 100;
}

.param200 {
  font-size: 200%;
  font-weight: 100;
}

.param210 {
  font-weight: 100;
  font-size: 210%;
}

.param220 {
  font-weight: 100;
  font-size: 220%;
}

.param230 {
  font-size: 230%;
  font-weight: 100;
}

.param240 {
  font-size: 240%;
  font-weight: 100;
}

.param250 {
  font-size: 250%;
  font-weight: 100;
}

.param260 {
  font-size: 260%;
  font-weight: 100;
}

.param270 {
  font-size: 270%;
  font-weight: 100;
}

.param280 {
  font-size: 280%;
  font-weight: 100;
}

.param290 {
  font-size: 290%;
  font-weight: 100;
}

.param300 {
  font-size: 300%;
  font-weight: 100;
}



#container {
  display: grid;
  grid-template-areas:
    'header header header header header'
    /* 'main main main right right' */
    'main main main main main'
    'main2 main2 main2 main2 main2'
    'footer footer footer footer footer';

  grid-template-rows:
    /* Header */
    5%
    /* Main Content */
    /* 1fr */
    45% 45%
    /* Footer */
    5%;

  grid-template-columns: 60px auto auto 200px 50px;
  grid-gap: 2px;
  background-color: #000000;
  /* background-color: #222222; */
  padding: 0px;
  font-size: 20px;
  width: 99%;
  height: 99%;
  position: absolute;
}

/* .container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
} */

/* .containerHeader { grid-area: header; background-color: orange;} */
.containerHeader {
  grid-area: header;
  background-color: black;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: grid;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-self: center;
  align-content: center;
  grid-column-start: 1/5;
  grid-column-end: 5/5;
  grid-row-start: 1/4;
  grid-row-end: 4/4;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}



/* .containerMenu { grid-area: menu; background-color: red;} */
.containerMenu {
  grid-area: menu;
  background-color: black;
}

.containerMain {
  grid-area: main;
  align-content: stretch;
  background-color: black;
  /* background-color: blue; */
  justify-self: stretch;
  /* grid-column-start: 1/5;
  grid-column-end: 3/5; */
  grid-row: 2;

}

.containerMain2 {
  grid-area: main2;
  align-content: stretch;
  background-color: black;
  /* background-color: blue; */
  justify-self: stretch;
  /* grid-column-start: 1/5;
  grid-column-end: 3/5; */
  grid-row: 3;

}

.containerRight {
  grid-area: right;
  background-color: green;
  justify-self: stretch;
  grid-column-start: 3/5;
  grid-column-end: 5/5;
  grid-row: 2;
}

/* .containerFooter { grid-area: footer; background-color: purple;} */
#containerFooter {
  grid-area: footer;
  background-color: black;
}

#containerButtons {
  grid-area: footer;
  grid-column-start: 2/5;
  grid-column-end: 3/5;
}


.containerHeader {
  display: inline-block;
  /* overflow: hidden; */
  /* float:left */
  margin: 15px 0 15px 20px;
}

#logoContainer {
  float: left;
  width: 50px;
  height: 50px;
}

/* resize images */
#logo {
  width: 100%;
  height: auto;
}

.headerTitle {
  font-family: "LatoWebBlack";
  font-size: 30px;
  text-align: left;
  color: #ccff00;
  /* vertical-align: middle; */
  /* overflow: hidden; */
  float: left;
}

.headerItemList {
  padding: 0;
  margin: 0 0 0 40px;
  width: 500px;

  /* display: inline-block; */
  /* text-align:right; */
  /* vertical-align: middle; */
  overflow: hidden;
  float: left;
}

.headerItem {
  font-family: "LatoWebBlack";
  margin: 0 20px 0 20px;
  float: left;
  color: #da14ff;
}

#sampleRateIndicatorLabel {
  font-family: "LatoWebBlack";
  grid-column-start: 3/5;
  grid-column-end: 5/5;
  color: #da14ff;
  /* text-transform: uppercase; */
  font-size: 20px;
  /* width: 170px; */
  text-align: center;
  top: 0;
  right: 20px;
  overflow: hidden;
  float: left;
}

#sampleRateIndicatorValue {
  font-family: "LatoWebBlack";
  color: #da14ff;
  text-transform: uppercase;
  font-size: 20px;
  /* width: 170px; */
  text-align: center;
  top: 0;
  right: 20px;
  overflow: hidden;
  /* float:left; */
}

#audioWorkletIndicator {
  text-transform: uppercase;
  font-size: 13px;
  width: 170px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 20px;
}

.was-indicator-found {
  color: #39ff14;
  border: 0.1rem solid #39ff14;
  padding: 0.5rem;
}

.was-indicator-missing {
  color: #dd2c00;
  border: 0.1rem solid #dd2c00;
  padding: 0.5rem;
}

#dspLoad {
  font-family: "LatoWebBlack";
  color: #da14ff;
  text-transform: uppercase;
  font-size: 12px;
  /* width: 170px; */
  text-align: center;
  /* top: 0;
  right: 20px; */
  overflow: hidden;
  /* float:left; */
}