.node {
  cursor: pointer;
}

.overlay {
  background-color: #EEE;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-size: 10px;
  font-family: sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.templink {
  fill: none;
  stroke: red;
  stroke-width: 3px;
}

.ghostCircle.show {
  display: block;
}

.ghostCircle, .activeDrag .ghostCircle {
  display: none;
}

#WorkletIndicator {
  text-transform: uppercase;
  font-size: 13px;
  width: 170px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 20px;
}

.was-indicator-found {
  color: #4caf50;
  border: 0.1rem solid #4caf50;
  padding: 0.5rem;
}

.was-indicator-missing {
  color: #dd2c00;
  border: 0.1rem solid #dd2c00;
  padding: 0.5rem;
}
