/* BODY */
body {
	padding: 0;
	margin: 0;
  overflow: hidden;
}

#routify-app {
  height: 100%;
  overflow: hidden;
}

/* APP */
.app {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}

.app > main {
	background-color: #151515;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 2000 240'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E"); */
	background-attachment: fixed;
	background-size: cover;
}

/* NAVIGATION */
nav {
	display: grid;
	grid-template-columns: 1fr minmax(max-content, 1fr) 1fr;
	justify-content: space-evenly;
}

nav :last-child {
	text-align: right;
}

nav :nth-child(2) {
	text-align: center;
}

nav > * {
	white-space: nowrap;
}

nav a,
nav a:visited {
	display: inline-block;
	text-transform: uppercase;
	color: #777;
	padding: 24px;
	padding-left: calc(2vw);
	padding-right: calc(2vw);
}

nav img[alt^='profile - '] {
	border-radius: 100%;
	width: 32px;
	vertical-align: middle;
}

/* FOOTER */
footer {
	position: absolute;
	bottom: 8px;
	right: 16px;
}

/* HEADER */
header {
	box-shadow: 0 4px 8px rgba(0, 0s, 0, 0.5);
	border-bottom: 1px solid #ccc;
}

/* ADMIN */
.admin-module {
	min-height: 100%;
	display: grid;
	background-color: #ff7700;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc0000' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa0000' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23b10022' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23b2003d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23ac0057' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239e0071' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23880088' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
.admin-module.not-authed {
	background-color: #808080;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23666666' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23545454' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23636363' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23515151' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23606060' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%234e4e4e' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%235d5d5d' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%234b4b4b' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%235a5a5a' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23484848' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23575757' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23454545' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
}

/* GENERICS */
.card {
	/* background: rgba(255,255,255, 0.9); */
	background: white;
	padding: 24px 48px;
	border-radius: 4px;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.button {
	background: #333;
	margin-top: 32px;
	padding: 16px 24px;
	color: white;
	outline: none;
	border: none;
	box-shadow: none;
	font-weight: bold;
}

.center-all {
	min-height: 100%;
	height: 100%;
	width: 100%;
	display: grid;
	/* justify-content: space-evenly;
	align-content: space-around; */
}
code {
	margin-top: 48px;
	background: #444;
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
}
