html, body {
	position: relative;
	width: 100%;
	height: 100%;
  overflow: hidden;
}

body {
	/* color: #333; */
	margin: 0;
	/* padding: 8px; */
	box-sizing: border-box;
  font-size: large;
  user-select: text;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color:#2981fb;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	/* color: rgb(0,80,160); */
}

label {
	display: block;
}

input, button, select  {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0.25em 0 0.2em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

textarea {
    /* -webkit-writing-mode: horizontal-tb !important; */
    /* text-rendering: auto; */
    /* color: -internal-light-dark(black, white); */
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    /* background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59)); */
    background-color:  rgb(59, 59, 59);
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: none;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    margin: 0em;
    /* font: 400 13.3333px Arial; */
    /* border-width: 1px;
    border-style: solid; */
    /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
    /* border-image: initial; */
    /* padding: 2px; */
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 0em 0px;
}


input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
